body{
    scroll-behavior: smooth;
}

/* -header- */
header{
    height: 100vh;
    width: 100%;
    position: relative;
}

header .main{
    height: 100%;
}

header .main img{
    height: 100%;
    width: 100%;
}


header .logo{
    width: 20%;
    position: absolute;
    top: 0;
    right: 0;
    width: 10%;
}

/* section1 */

.section1{
    max-width: 1200px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.s1-content1{
    text-align: center;
    margin: 10% 10%;
    /* 英語を折り返しさせる */
    word-break:break-all;
}

.s1-content2{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.Archive, .NEW{
    width: 45%;
    position: relative;
}

.Archive img, .NEW img{
    width: 100%;
}

.s1-container .catch{
    width:80%;
    background-color: #2a2a2a40;
    color:#fff;
    padding:20px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    /* 英語を折り返しさせる */
    word-break:break-all;
    
}

.s1-container .catch h1{
    text-align: center;

}

.s1-container .catch p{
    font-size: 90%;
    
}

/* s2 */
.s2-container{
    margin: 20% 0;
    width: 100%;
    height: 100%;
    background-image: url(../image/fashion.jpg);
    background-position: center;
    height: 70vh;
    /* 英語を折り返しさせる */
    word-break:break-all;
    text-align: center;
    position: relative;
}

.s2-content{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
}

.s2-container h1{
    padding-top: 20px;
}


.read{
    margin:5% 0;
    border: 1px solid #000;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}
.read a{

    text-decoration: none;
    color: #000;
}

/* s3 */
.s3-container{
    margin:  10%;
}
.s3-container img{
    width: 100%;
}
.s3-content1{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.s3-content2{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.catalog,.Antique{
    display: flex;
    align-items: center;
    justify-content: center;
    word-break: break-all;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.catalog h1,.Antique h1{
    text-align: center;
}

.catalog p,.Antique p{
    margin: 2% 0;
}

.Antique .read{
    text-align: center;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}
/* s3 */

/* footer */
.footer-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #2a2a2a;
    color:#fff;
    font-size: 80%;
    padding: 20px;
}

.footer-container img{
    width: 10%;
    height: 100%;
}

.small{
    text-align: center;
}
@media (min-width:1000px) {
    /* Readmoreボタンと背景画像が被らないようにする。 */
    .s2-content{
        top: 20%;
    }
}
@media (max-width:900px) {
    header{
        height: auto;
    }
}

@media (max-width:600px) {
    .section1,.section2,.section3,footer{
        font-size: 80%;
    }
    .section1 .s1-content2{
        display: block;
    }
    .s1-content2 .Archive,.NEW{
        width: 80%;
        margin-top: 20%;
        margin-left: auto;
        margin-right: auto;
    }
    .s2-container{
        background-size: 200%;
        
    }
    .s2-content{
        font-size: 50%;

    }


    .s3-container .s3-content1,.s3-content2{
        display: block;
    }
    .s3-content2 .Antique,.catalog{
        margin: 8% 0;
        margin-left: auto;
        margin-right: auto;
    }

    .footer-container{
        font-size: 50%;
        display: block;
    }

}